@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
}
.site-header {
  position: sticky;
  top: 0;
  height: 100px;
  backdrop-filter: saturate(1.2) blur(10px);
  background: linear-gradient(transparent,black);
  border-bottom: 1px solid rgba(30, 37, 64, 0.5);
  z-index: 10;
  color: whitesmoke;
  text-decoration: none;
  font-size: 30px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
.brand-mark{
  height: 60px;
}
.brand-text{
  color: whitesmoke;
  text-decoration-line:none;
  font-size: 35px;
}
.nav {
  display: flex;
  gap: 18px;
}
.nav-link {
  color: var(--text-dim);
  font-weight: 500;
  text-decoration-line:none ;
}
.nav-link:hover {
  color: var(--text);
}
.main-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 44vh;
  gap: 25px;
  padding-left: 22%;
  background-color: #0d1117;
}
.main-hero-section-1 h1 {
  font-size: 70px;
  color: azure;
}
.main-hero-section-2 {
  font-size: 23px;
  color: gray;
}
.main-hero-section-3 button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  border: none;
}
.main-hero-section-3 a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}
.main-hero-section-4 a {
  color: azure;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 10px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  color: azure;
  background-color: #0d1117;
  background-image: url(./img/light-glow.svg);
  background-position: bottom;
  padding-top: 60px;
  gap: 19px;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.hero-section-1 {
  word-spacing: 7px;
  font-size: 25px;
}
.hero-section-1 span {
  color: rgb(17, 68, 209);
}
.hero-section-2 {
  font-size: 19px;
}
.hero-section-3 {
  border: 2px solid black;
  width: 40%;
  height: 45%;
  border-radius: 8px;
  background-color: black;
}
.hero-section-3-circles {
  display: flex;
  gap: 4px;
  padding: 5px;
}
.hero-section-3-circles div {
  border: 2px solid gray;
  width: 13px;
  height: 13px;
  border-radius: 9999px;
  background-color: whitesmoke;
}
.hero-section-3-issues {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
  word-spacing: 4px;
  gap: 30px;
}
.hero-section-3-issues span {
  color: rgb(13, 133, 13);
}
.hero-section h2 {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 800;
}
.hero-section a {
  color: azure;
  text-decoration: none;
}
.benefits-section {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 60px;
  height: 45vh;
}
.benefits-section-1 h2 {
  font-size: 70px;
  font-weight: 1000;
  color: #13181f;
}
.benefits-section-2 {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  line-height: 30px;
}
.benefits-section-2 h4 {
  font-size: 22px;
  color: #13181f;
  font-weight: 700;
}
.benefits-section-2 p {
  color: grey;
  font-weight: 600;
}
.benefits-section-2 a {
  text-decoration: none;
  color: rgba(9, 28, 133, 0.897);
  font-weight: 600;
  font-size: 15px;
}
.download-section {
  display: flex;
  height: 45vh;
  background-image: url(./img/square-pattern.png);
  background-color: rgb(250, 250, 250);
  background-position: bottom;
  justify-content: center;
  align-items: center;
}
.download-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  background-color: white;
  box-shadow: 10px 10px rgba(226, 230, 230, 0.164);
  padding-left: 30px;
  height: 60%;
  width: 40%;
  gap: 15px;
}
.download-section h2 {
  font-size: 35px;
  color: #13181f;
}
.download-section p {
  color: grey;
  font-weight: 600;
}
.download-section button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #13181f;
}
.download-section a {
  color: azure;
  text-decoration: none;
  font-size: 14px;
}
.about-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 190px;
  margin-right: 30%;
  margin-top: 60px;
  height: 40vh;
}
.about-section-1 a {
  color: #13181f;
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
}
.about-section-2 {
  display: flex;
  gap: 80px;
}
.about-section-2 h5 {
  font-size: 19px;
  color: #13181f;
  line-height: 50px;
}
.about-section-2 a {
  text-decoration: none;
  color: grey;
  line-height: 35px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 50px;
  border: 2px solid rgb(200, 211, 211);
  background-color: rgb(200, 211, 211);
}
